.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_modal {
  position: absolute;
  background-color: black;
  color: white;
  width: 30vw;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 5px white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
